input,
textarea,
select {
  box-shadow: none !important;
  background-color: #0e424f !important;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color) !important;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
  outline: none;
  border-color: #2e8fa0 !important;
}

table,
th,
td {
  background-color: #0e424f !important;
}

.btn-custom {
  border:1px solid #325e69 !important;
  border-radius:18px !important;
  background-color:#0e424f !important;
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  font-weight: 700 !important;
  font-size: 1.75rem !important;
  width: 100% !important;
  box-shadow: var(--bs-box-shadow) !important;
  height: 80px;
  align-content: center;
}

.btn-custom:hover {
  background-color:#125f72 !important;
}

.btn-schedule-appointment {
  background-color:#248ea8 !important;
  border-color:#248ea8 !important
}

.btn-schedule-appointment:hover {
  background-color:#3daeca !important;
}

.btn-cancel-appointment {
  background-color:#a03731 !important;
  border-color:#a03731 !important
}

.btn-cancel-appointment:hover {
  background-color:#c0504a !important;
}

.btn-custom-height {
  height: 130px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #125f72 !important;
}

.pagination .page-item {
  background-color: #0e424f !important;
}